.item
  = link_to merchandise_path(item.id), class: "item__link" do
    = image_tag "#{ExhibitImage.find_by(exhibit_id: item.exhibit).image}", class: "item__image"
    .item__body
      .item__body__name
        = item.name
      .item__body__bottom
        .item__body__bottom__price
          = "￥#{item.price.to_s(:delimited)}"
        .item__body__bottom__likes
          = fa_icon "heart-o", class: "item__body__bottom__likes__icon"
          %span
            = item.likes.where(value: 1).count