.item
  = link_to "#", class: "item__link" do
    = image_tag "#{ExhibitImage.find_by(exhibit_id: item.id).image}", class: "item__image"
    .item__body
      .item__body__name
        = item.merchandise.name
      .item__body__bottom
        .item__body__bottom__price
          = item.merchandise.price
        .item__body__bottom__likes
          = fa_icon "heart-o", class: "item__body__bottom__likes__icon"
          %span
            = item.merchandise.likes.where(value: 1).count