-# ヘッダー
= render 'layouts/header_responsive'
= render 'layouts/header'
%main.top
  .wrapper
  
    -# スライダー
    = render 'layouts/slider'

    .label#category_label
    .items#category_items
      .items__section
        .section__title
        .section__box
          .items__box
            .item__box
              = link_to "", class: "item__box_link" do
                %figure.figure
                  %figcaption.figure__figcaption
                    %span.figcaption__item-name
                      大島紬  格子柄紺色 着易く軽いお召し物
                  .figure__image
                    %span.figure__image_price
                      ¥23,000
                    = image_tag("https://static.mercdn.net/thumb/photos/m62773354446_1.jpg?1568017120", class: "figure__image_photo") 
            .item__box
              = link_to "", class: "item__box_link" do
                %figure.figure
                  %figcaption.figure__figcaption
                    %span.figcaption__item-name
                      大島紬  格子柄紺色 着易く軽いお召し物
                  .figure__image
                    %span.figure__image_price
                      ¥23,000
                    = image_tag("https://static.mercdn.net/thumb/photos/m62773354446_1.jpg?1568017120", class: "figure__image_photo") 
            .item__box
              = link_to "", class: "item__box_link" do
                %figure.figure
                  %figcaption.figure__figcaption
                    %span.figcaption__item-name
                      大島紬  格子柄紺色 着易く軽いお召し物
                  .figure__image
                    %span.figure__image_price
                      ¥23,000
                    = image_tag("https://static.mercdn.net/thumb/photos/m62773354446_1.jpg?1568017120", class: "figure__image_photo") 
            .item__box
              = link_to "", class: "item__box_link" do
                %figure.figure
                  %figcaption.figure__figcaption
                    %span.figcaption__item-name
                      大島紬  格子柄紺色 着易く軽いお召し物
                  .figure__image
                    %span.figure__image_price
                      ¥23,000
                    = image_tag("https://static.mercdn.net/thumb/photos/m62773354446_1.jpg?1568017120", class: "figure__image_photo") 
            .item__box
              = link_to "", class: "item__box_link" do
                %figure.figure
                  %figcaption.figure__figcaption
                    %span.figcaption__item-name
                      大島紬  格子柄紺色 着易く軽いお召し物
                  .figure__image
                    %span.figure__image_price
                      ¥23,000
                    = image_tag("https://static.mercdn.net/thumb/photos/m62773354446_1.jpg?1568017120", class: "figure__image_photo") 

            .item__box
              = link_to "", class: "item__box_link" do
                %figure.figure
                  %figcaption.figure__figcaption
                    %span.figcaption__item-name
                      大島紬  格子柄紺色 着易く軽いお召し物
                  .figure__image
                    %span.figure__image_price
                      ¥23,000
                    = image_tag("https://static.mercdn.net/thumb/photos/m62773354446_1.jpg?1568017120", class: "figure__image_photo") 
            .item__box
              = link_to "", class: "item__box_link" do
                %figure.figure
                  %figcaption.figure__figcaption
                    %span.figcaption__item-name
                      大島紬  格子柄紺色 着易く軽いお召し物
                  .figure__image
                    %span.figure__image_price
                      ¥23,000
                    = image_tag("https://static.mercdn.net/thumb/photos/m62773354446_1.jpg?1568017120", class: "figure__image_photo") 
            .item__box
              = link_to "", class: "item__box_link" do
                %figure.figure
                  %figcaption.figure__figcaption
                    %span.figcaption__item-name
                      大島紬  格子柄紺色 着易く軽いお召し物
                  .figure__image
                    %span.figure__image_price
                      ¥23,000
                    = image_tag("https://static.mercdn.net/thumb/photos/m62773354446_1.jpg?1568017120", class: "figure__image_photo") 
            .item__box
              = link_to "", class: "item__box_link" do
                %figure.figure
                  %figcaption.figure__figcaption
                    %span.figcaption__item-name
                      大島紬  格子柄紺色 着易く軽いお召し物
                  .figure__image
                    %span.figure__image_price
                      ¥23,000
                    = image_tag("https://static.mercdn.net/thumb/photos/m62773354446_1.jpg?1568017120", class: "figure__image_photo") 
            .item__box
              = link_to "", class: "item__box_link" do
                %figure.figure
                  %figcaption.figure__figcaption
                    %span.figcaption__item-name
                      大島紬  格子柄紺色 着易く軽いお召し物
                  .figure__image
                    %span.figure__image_price
                      ¥23,000
                    = image_tag("https://static.mercdn.net/thumb/photos/m62773354446_1.jpg?1568017120", class: "figure__image_photo") 

    -# ブランドごとの表示は後ほど実装する
    -# .label#brand_label
    -# .items#brand_items

-# 出品ボタン
= render 'layouts/exhibit'
-# アプリダウンロードバーナー
= render 'layouts/app-download'
-# フッター
= render 'layouts/footer'