-# ヘッダー
= render 'layouts/header_responsive'
= render 'layouts/header'
%main.top
  .wrapper
    -# スライダー
    = render 'layouts/slider'

    .label#category_label
    .items#category_items
      .items__section
        .section__title
        .section__box
          .items__box
            - @merchandises.each do |merchandise| 
              .item__box{data: {merchandise_id: merchandise.id}}
                = link_to merchandise_path(merchandise.id), class: "item__box_link" do
                  %figure.figure
                    %figcaption.figure__figcaption
                      %span.figcaption__item-name
                        = merchandise.name
                    .figure__image
                      %span.figure__image_price
                        = "¥#{merchandise.price.to_s(:delimited)}"
                      - merchandise.exhibit.exhibit_images.sort_by(&:id).each_with_index do |exhibit_image, i|
                        = image_tag exhibit_image.image, class: "figure__image_photo" if i == 0
                    
    -# ブランドごとの表示は後ほど実装する
    -# .label#brand_label
    -# .items#brand_items

-# 出品ボタン
= render 'layouts/exhibit'
-# アプリダウンロードバーナー
= render 'layouts/app-download'
-# フッター
= render 'layouts/footer'