.merchandise-detail

  -# ヘッダー
  = render 'layouts/header_responsive'
  = render 'layouts/header'

  .merchandise-detail__main
    %h2.merchandise-detail__main__name.bold
      = @merchandise.name
    .merchandise-detail__main__content
      .left-content
        .item-photos
          .item-photos__carousel
            %ul.item-photos__carousel__stage
              - @merchandise.exhibit.exhibit_images.each do |image|
                %li.item-photos__carousel__stage__item
                  = image_tag "#{image.image}", class: "item-photos__carousel__stage__item__image"

            %ul.item-photos__carousel__dots
              - @merchandise.exhibit.exhibit_images.each do |image|
                %li.item-photos__carousel__dots__dot
                  .item-photos__carousel__dots__dot__inner
                    = image_tag "#{image.image}", class: "item-photos__carousel__dots__dot__inner__image"
                  
      .price-box--mini
        %span.price-box--mini__price.bold
          = "￥#{@merchandise.price.to_s(:delimited)}"
        %span.price-box--mini__tax
          (税込)
        - if @merchandise.delivery.shipping_charge_id == 1
          %span.price-box--mini__shipping-free
            送料込み
        - elsif @merchandise.delivery.shipping_charge_id == 2
          %span.price-box--mini__shipping-free
            着払い

      %table.item-detail
        %tr
          %th
            出品者
          %td
            = link_to "#" do
              = @merchandise.exhibit.user.nickname
            .evaluations
              .evaluations__icon--smile
                = fa_icon "smile-o"
              .evaluations__num
                = @merchandise.exhibit.user.likes.where(value: 1).count
            .evaluations
              .evaluations__icon--normal
                = fa_icon "meh-o"
              .evaluations__num
                = @merchandise.exhibit.user.likes.where(value: 2).count
                
            .evaluations
              .evaluations__icon--bad
                = fa_icon "frown-o"
              .evaluations__num
                = @merchandise.exhibit.user.likes.where(value: 3).count

        %tr
          %th
            カテゴリー
          %td
            = link_to "#" do
              = @merchandise.category.parent.parent.name
            = link_to "#" do
              = fa_icon "chevron-right"
              = @merchandise.category.parent.name
            = link_to "#" do
              = fa_icon "chevron-right"
              = @merchandise.category.name

        %tr
          %th
            ブランド
          %td
            = @merchandise.brand.name

        - if @merchandise.exhibit.size_id.present?
          %tr
            %th
              商品のサイズ
            %td
              = @merchandise.exhibit.size.value
          
        %tr
          %th
            商品の状態
          %td
            = @merchandise.condition.value
        
        %tr
          %th
            配送料の負担
          %td
            = @merchandise.delivery.shipping_charge.value

        %tr
          %th
            配送の方法
          %td
            = @merchandise.delivery.delivery_type.value
          
        %tr
          %th
            配送元地域
          %td
            = link_to "#" do
              = @merchandise.delivery.shipping_area.name

        %tr
          %th
            発送日の目安
          %td
            = @merchandise.delivery.shipping_date.value

    .price-box
      %span.price-box__price.bold
        = "￥#{@merchandise.price.to_s(:delimited)}"
      %span.price-box__tax
        (税込)
      - if @merchandise.delivery.shipping_charge_id == 1
        %span.price-box--mini__shipping-free
          送料込み
      - elsif @merchandise.delivery.shipping_charge_id == 2
        %span.price-box--mini__shipping-free
          着払い

    .buy-button
      = link_to "#" do
        購入画面に進む
    
    .item-description
      %p.item-description__text
        = @merchandise.description
    
    .item-button
      .item-button__left
        .likes
          = fa_icon "heart-o", class: "likes__icon"
          %span
            いいね!
          %span
            = @merchandise.likes.where(value: 1).count

        .report-item
          %span
            = fa_icon "flag-o"
          %span
            不適切な商品の報告

      .item-button__right
        = link_to "#", class: "item-button__right__link" do
          = fa_icon "lock"
          %span
            あんしん・あんぜんへの取り組み

  .comments
    - if @merchandise.comments.present?
      %ul.comments__container
        - @merchandise.comments.order("created_at ASC").each do |comment|
          %li.comment
            = link_to "#", class: "comment__link" do
              = image_tag "https://static.mercdn.net/images/member_photo_noimage_thumb.png", class: "comment__link__user-icon"
              .comment__link__user-name
                = comment.user.nickname
            .comment__content
              .comment__content__text
                = comment.comment
              .comment__content__bottom
                .comment__content__bottom__date
                  .comment__content__bottom__date__icon
                    = fa_icon "clock-o"
                  .comment__content__bottom__date__time
                    = comment.calc_date
                .comment__content__bottom__report
                  = fa_icon "flag-o"

    .comment-form
      .comment-form__attention
        %p
          相手のことを考え丁寧なコメントを心がけましょう。不快な言葉遣いなどは利用制限や退会処分となることがあります。
      = form_for [@merchandise, @comment] do |f|
        = f.text_area :comment, class: 'comment-form__text-box', size: '40*10'
        = f.submit 'コメントする', class: 'comment-form__submit'
        -# %textarea.comment-form__text-box(cols="40" rows="10")
        -# %input.comment-form__submit{type: "submit", value: "コメントする"}
  
  %ul.item-link
    %li.item-link__prev
      = link_to merchandise_path(@merchandise.previous.id), class: "item-link__link" do
        = fa_icon "chevron-left", class: "item-link__link__icon-prev"
        = @merchandise.previous.name

    %li.item-link__next
      = link_to merchandise_path(@merchandise.next.id), class: "item-link__link" do
        = @merchandise.next.name
        = fa_icon "chevron-right", class: "item-link__link__icon-next"

  .social-icon
    %ul.social-icon__box
      = link_to "#", class: "social-icon__box__link" do
        %li.social-icon__box__link--facebook
          = fa_icon "facebook-official"
      = link_to "#", class: "social-icon__box__link" do
        %li.social-icon__box__link--twitter
          = fa_icon "twitter"
      = link_to "#", class: "social-icon__box__link" do
        %li.social-icon__box__link--pinterest
          = fa_icon "pinterest"

  .anothers
    .another-merchandise
      %h2.another-merchandise__head
        = link_to "#", class: "another-merchandise__head__link" do
          = "#{@merchandise.exhibit.user.nickname}さんのその他の出品"
      .items
        - Exhibit.where(user_id: @merchandise.exhibit.user_id).each do |item|
          = render partial: "showpage-item", locals: { item: item.merchandise }
         

    .another-merchandise
      %h2.another-merchandise__head
        = link_to "#", class: "another-merchandise__head__link" do
          = "#{@merchandise.brand.name}の#{@merchandise.category.name} その他の商品"
      .items
        = Merchandise.where(category_id: @merchandise.category_id, brand_id: @merchandise.brand_id).order("RAND()").limit(6).each do |item|
          = render partial: "showpage-item", locals: { item: item }
        
  
  .buy-button-fix
    = link_to "#", class: "buy-button-fix__button" do
      購入画面に進む

  -# アプリダウンロードバーナー
  = render 'layouts/app-download'
  -# フッター
  = render 'layouts/footer'