.merchandise-detail

  -# ヘッダー
  = render 'layouts/header_responsive'
  = render 'layouts/header'

  .merchandise-detail__main
    %h2.merchandise-detail__main__name.bold
      コーチ ショルダーバッグ
    .merchandise-detail__main__content
      .left-content
        .item-photos
          .item-photos__carousel
            %ul.item-photos__carousel__stage
              %li.item-photos__carousel__stage__item
                = image_tag "https://placehold.jp/200x300.png", class: "item-photos__carousel__stage__item__image"
              %li.item-photos__carousel__stage__item
                = image_tag "https://placehold.jp/300x200.png", class: "item-photos__carousel__stage__item__image"
              %li.item-photos__carousel__stage__item
                = image_tag "https://placehold.jp/300x300.png", class: "item-photos__carousel__stage__item__image"
              %li.item-photos__carousel__stage__item
                = image_tag "https://placehold.jp/400x400.png", class: "item-photos__carousel__stage__item__image"
              %li.item-photos__carousel__stage__item
                = image_tag "https://placehold.jp/500x500.png", class: "item-photos__carousel__stage__item__image"
              %li.item-photos__carousel__stage__item
                = image_tag "https://placehold.jp/600x600.png", class: "item-photos__carousel__stage__item__image"
              %li.item-photos__carousel__stage__item
                = image_tag "https://placehold.jp/700x700.png", class: "item-photos__carousel__stage__item__image"

            %ul.item-photos__carousel__dots
              %li.item-photos__carousel__dots__dot
                .item-photos__carousel__dots__dot__inner
                  = image_tag "https://placehold.jp/200x300.png", class: "item-photos__carousel__dots__dot__inner__image"
              %li.item-photos__carousel__dots__dot
                .item-photos__carousel__dots__dot__inner
                  = image_tag "https://placehold.jp/300x200.png", class: "item-photos__carousel__dots__dot__inner__image"
              %li.item-photos__carousel__dots__dot
                .item-photos__carousel__dots__dot__inner
                  = image_tag "https://placehold.jp/300x300.png", class: "item-photos__carousel__dots__dot__inner__image"
              %li.item-photos__carousel__dots__dot
                .item-photos__carousel__dots__dot__inner
                  = image_tag "https://placehold.jp/400x400.png", class: "item-photos__carousel__dots__dot__inner__image"
              %li.item-photos__carousel__dots__dot
                .item-photos__carousel__dots__dot__inner
                  = image_tag "https://placehold.jp/500x500.png", class: "item-photos__carousel__dots__dot__inner__image"
              %li.item-photos__carousel__dots__dot
                .item-photos__carousel__dots__dot__inner
                  = image_tag "https://placehold.jp/600x600.png", class: "item-photos__carousel__dots__dot__inner__image"
              %li.item-photos__carousel__dots__dot
                .item-photos__carousel__dots__dot__inner
                  = image_tag "https://placehold.jp/700x700.png", class: "item-photos__carousel__dots__dot__inner__image"
                  
      .price-box--mini
        %span.price-box--mini__price.bold
          ￥700
        %span.price-box--mini__tax
          (税込)
        %span.price-box--mini__shipping-free
          送料込み

      %table.item-detail
        %tr
          %th
            出品者
          %td
            = link_to "#" do
              くまちゃん
            .evaluations
              .evaluations__icon--smile
                = fa_icon "smile-o"
              .evaluations__num
                0
            .evaluations
              .evaluations__icon--normal
                = fa_icon "meh-o"
              .evaluations__num
                0
                
            .evaluations
              .evaluations__icon--bad
                = fa_icon "frown-o"
              .evaluations__num
                0

        %tr
          %th
            カテゴリー
          %td
            = link_to "#" do
              メンズ
            = link_to "#" do
              = fa_icon "chevron-right"
              ジャケット/アウター
            = link_to "#" do
              = fa_icon "chevron-right"
              ダウンベスト

        %tr
          %th
            ブランド
          %td
            アヴィレックス

        %tr
          %th
            商品のサイズ
          %td
            L
          
        %tr
          %th
            商品の状態
          %td
            目立った傷や汚れなし
        
        %tr
          %th
            配送料の負担
          %td
            送料込み(出品者負担)

        %tr
          %th
            配送の方法
          %td
            らくらくメルカリ便
          
        %tr
          %th
            配送元地域
          %td
            = link_to "#" do
              兵庫県

        %tr
          %th
            発送日の目安
          %td
            2~3日で発送

    .price-box
      %span.price-box__price.bold
        ￥700
      %span.price-box__tax
        (税込)
      %span.price-box__shipping-free
        送料込み

    .buy-button
      = link_to "#" do
        購入画面に進む
    
    .item-description
      %p.item-description__text
        フードもついてます。ツーパターンで着用できます。
    
    .item-button
      .item-button__left
        .likes
          = fa_icon "heart-o", class: "likes__icon"
          %span
            いいね!
          %span
            2

        .report-item
          %span
            = fa_icon "flag-o"
          %span
            不適切な商品の報告

      .item-button__right
        = link_to "#", class: "item-button__right__link" do
          = fa_icon "lock"
          %span
            あんしん・あんぜんへの取り組み

  .comments
    %ul.comments__container
      %li.comment
        = link_to "#", class: "comment__link" do
          = image_tag "https://static.mercdn.net/images/member_photo_noimage_thumb.png", class: "comment__link__user-icon"
          .comment__link__user-name
            tetsu
        .comment__content
          .comment__content__text
            こんにちわ！
          .comment__content__bottom
            .comment__content__bottom__date
              .comment__content__bottom__date__icon
                = fa_icon "clock-o"
              .comment__content__bottom__date__time
                8時間前
            .comment__content__bottom__report
              = fa_icon "flag-o"

      %li.comment
        = link_to "#", class: "comment__link" do
          = image_tag "https://static.mercdn.net/images/member_photo_noimage_thumb.png", class: "comment__link__user-icon"
          .comment__link__user-name
            tetsu
        .comment__content
          .comment__content__text
            こんにちわ！
          .comment__content__bottom
            .comment__content__bottom__date
              .comment__content__bottom__date__icon
                = fa_icon "clock-o"
              .comment__content__bottom__date__time
                8時間前
            .comment__content__bottom__report
              = fa_icon "flag-o"

    .comment-form
      .comment-form__attention
        %p
          相手のことを考え丁寧なコメントを心がけましょう。不快な言葉遣いなどは利用制限や退会処分となることがあります。
      %textarea.comment-form__text-box(cols="40" rows="10")
      %input.comment-form__submit{type: "submit", value: "コメントする"}
  
  %ul.item-link
    %li.item-link__prev
      = link_to "#", class: "item-link__link" do
        = fa_icon "chevron-left", class: "item-link__link__icon-prev"
        薄手ポンチョ

    %li.item-link__next
      = link_to "#", class: "item-link__link" do
        ☆送料込み☆稼働品☆ Arrows 赤色 mineo スマートフォン M02
        = fa_icon "chevron-right", class: "item-link__link__icon-next"

  .social-icon
    %ul.social-icon__box
      = link_to "#", class: "social-icon__box__link" do
        %li.social-icon__box__link--facebook
          = fa_icon "facebook-official"
      = link_to "#", class: "social-icon__box__link" do
        %li.social-icon__box__link--twitter
          = fa_icon "twitter"
      = link_to "#", class: "social-icon__box__link" do
        %li.social-icon__box__link--pinterest
          = fa_icon "pinterest"

  .anothers
    .another-merchandise
      %h2.another-merchandise__head
        = link_to "#", class: "another-merchandise__head__link" do
          くまちゃんさんのその他の出品
      .items
        = render "showpage-item"
        = render "showpage-item"
        = render "showpage-item"
        = render "showpage-item"
        = render "showpage-item"
        = render "showpage-item"

    .another-merchandise
      %h2.another-merchandise__head
        = link_to "#", class: "another-merchandise__head__link" do
          コーチのショルダーバッグ その他の商品
      .items
        = render "showpage-item"
        = render "showpage-item"
        = render "showpage-item"
        = render "showpage-item"
        = render "showpage-item"
        = render "showpage-item"
  
  .buy-button-fix
    = link_to "#", class: "buy-button-fix__button" do
      購入画面に進む

  -# アプリダウンロードバーナー
  = render 'layouts/app-download'
  -# フッター
  = render 'layouts/footer'