= render partial: "sign_up_header"

.registration_completed
  .registration_completed__main
    .registration_completed__main__section
      %h2 会員登録完了
      = fields_for :phone_number do |f|
        .contents
          .contents-field
          %p ありがとうございます。
          %p 会員登録が完了しました。
          .contents-field__submit
            = f.submit "メルカリをはじめる", class: "form__submit"
      %ul
        %li
          = image_tag('download_promotion.jpg', class: 'download_logo')

= render partial: "sign_up_footer"