.exhibition__change__box
  = form_for [@exhibit], html: {class: "comment-form__form exhibition_edit"}, url: edit_exhibit_path(@exhibit), method: 'GET' do |f|
    = f.submit '商品の編集', class: 'comment-form__submit'

  -# URLは仮置き
  = form_for [@exhibit], html: {class: "comment-form__form exhibition_stop"}, url: '/' do |f|
    = f.submit '出品を一旦停止する', class: 'comment-form__submit'
  .comment-form__form.exhibition_delete
  
    %button.comment-form__submit#exhibition_delete この商品を削除する
    = link_to "", exhibit_path(@exhibit), method: :DELETE, id: 'exhibition_delete_do'
    = render 'exhibits/modal'