.mypage
  .mypage__main
    .mypage__main__user-icon
      = link_to "https://www.mercari.com/jp/mypage/" do
        %img.mypage__main__user-icon__image{src: "https://static.mercdn.net/images/member_photo_noimage_thumb.png"}/
        .mypage__main__user-name.bold
          tosu
        .mypage__main__user-info
          .mypage__main__user-evaluation
            評価
            %span.bold
              0
          .mypage__main__user-exhibit
            出品数
            %span.bold
              0
    .mypage__main__notify-todo
      %ul.mypage__main__tab
        %li.bold.active
          お知らせ
        %li.bold
          やることリスト
      .mypage__main__tab-content
        %ul.mypage__main__notify-todo__notify.show
          %li.mypage__main__notify-todo__notify__content
            = link_to "https://www.mercari.com/jp/mypage/news/" do
              %img.mypage__main__notify-todo__notify__content__icon{src: "//static.mercdn.net/images/mercari_profile.png"}/
              .mypage__main__notify-todo__notify__content__body
                .mypage__main__notify-todo__notify__content__text
                  事務局から個別メッセージ「《3連休はスパリゾートハワイアンズへ》9月限定！メルペイのコード払いで入場料20%割引！」
                .mypage__main__notify-todo__notify__content__date
                  .mypage__main__notify-todo__notify__content__date__clock-icon
                    = fa_icon "clock-o"
                  .mypage__main__notify-todo__notify__content__date__time
                    5時間前
              = fa_icon "angle-right"
          %li.mypage__main__notify-todo__notify__content
            = link_to "https://www.mercari.com/jp/mypage/news/" do
              %img.mypage__main__notify-todo__notify__content__icon{src: "//static.mercdn.net/images/mercari_profile.png"}/
              .mypage__main__notify-todo__notify__content__body
                .mypage__main__notify-todo__notify__content__text
                  事務局から個別メッセージ「《3連休はスパリゾートハワイアンズへ》9月限定！メルペイのコード払いで入場料20%割引！」
                .mypage__main__notify-todo__notify__content__date
                  .mypage__main__notify-todo__notify__content__date__clock-icon
                    = fa_icon "clock-o"
                  .mypage__main__notify-todo__notify__content__date__time
                    5時間前
              = fa_icon "angle-right"
          %li.mypage__main__notify-todo__notify__content
            = link_to "https://www.mercari.com/jp/mypage/news/" do
              %img.mypage__main__notify-todo__notify__content__icon{src: "//static.mercdn.net/images/mercari_profile.png"}/
              .mypage__main__notify-todo__notify__content__body
                .mypage__main__notify-todo__notify__content__text
                  事務局から個別メッセージ「《3連休はスパリゾートハワイアンズへ》9月限定！メルペイのコード払いで入場料20%割引！」
                .mypage__main__notify-todo__notify__content__date
                  .mypage__main__notify-todo__notify__content__date__clock-icon
                    = fa_icon "clock-o"
                  .mypage__main__notify-todo__notify__content__date__time
                    5時間前
              = fa_icon "angle-right"
          .mypage__main__notify-todo__notify__go-list
            = link_to "一覧を見る", "https://www.mercari.com/jp/mypage/notification/"
        %ul.mypage__main__notify-todo__todo
          %li.mypage__main__not-found.bold
            現在、やることリストはありません

    .mypage__main__purchased
      .mypage__main__purchased__header.bold
        購入した商品
      %ul.mypage__main__tab
        %li.bold.active
          取引中
        %li.bold
          過去の取引
      .mypage__main__tab-content
        %ul.mypage__purchased__dealing__content.show
          %li.mypage__main__not-found.bold
            取引中の商品がありません
        %ul.mypage__purchased__dealed__content
          %li.mypage__main__not-found.bold
            過去に取引した商品がありません

  %nav.mypage__menu
    %ul.mypage__menu__links
      %li.mypage__menu__links__link
        = link_to "https://www.mercari.com/jp/mypage/" do
          マイページ
          = fa_icon "angle-right", class: "mypage__menu__angle"
      %li.mypage__menu__links__link
        = link_to "https://www.mercari.com/jp/mypage/notification/" do
          お知らせ
          = fa_icon "angle-right", class: "mypage__menu__angle"
      %li.mypage__menu__links__link
        = link_to "https://www.mercari.com/jp/mypage/todo/" do
          やることリスト
          = fa_icon "angle-right", class: "mypage__menu__angle"
      %li.mypage__menu__links__link
        = link_to "https://www.mercari.com/jp/mypage/like/history/" do
          いいね！一覧
          = fa_icon "angle-right", class: "mypage__menu__angle"
      %li.mypage__menu__links__link
        = link_to "https://www.mercari.com/jp/sell/" do
          出品する
          = fa_icon "angle-right", class: "mypage__menu__angle"
      %li.mypage__menu__links__link
        = link_to "https://www.mercari.com/jp/mypage/listings/listing/" do
          出品した商品-出品中
          = fa_icon "angle-right", class: "mypage__menu__angle"
      %li.mypage__menu__links__link
        = link_to "https://www.mercari.com/jp/mypage/listings/in_progress/" do
          出品した商品-取引中
          = fa_icon "angle-right", class: "mypage__menu__angle"
      %li.mypage__menu__links__link
        = link_to "https://www.mercari.com/jp/mypage/listings/completed/" do
          出品した商品-売却済み
          = fa_icon "angle-right", class: "mypage__menu__angle"
      %li.mypage__menu__links__link
        = link_to "https://www.mercari.com/jp/mypage/purchase/" do
          購入した商品-取引中
          = fa_icon "angle-right", class: "mypage__menu__angle"
      %li.mypage__menu__links__link
        = link_to "https://www.mercari.com/jp/mypage/purchased/" do
          購入した商品-過去の取引
          = fa_icon "angle-right", class: "mypage__menu__angle"
      %li.mypage__menu__links__link
        = link_to "https://www.mercari.com/jp/mypage/news/" do
          ニュース一覧
          = fa_icon "angle-right", class: "mypage__menu__angle"
      %li.mypage__menu__links__link
        = link_to "https://www.mercari.com/jp/mypage/review/history/" do
          評価一覧
          = fa_icon "angle-right", class: "mypage__menu__angle"
      %li.mypage__menu__links__link
        = link_to "https://www.mercari.com/jp/help_center/" do
          ガイド
          = fa_icon "angle-right", class: "mypage__menu__angle"
      %li.mypage__menu__links__link
        = link_to "https://www.mercari.com/jp/mypage/support/" do
          お問い合わせ
          = fa_icon "angle-right", class: "mypage__menu__angle"
      %li.mypage__menu__links__link
        = link_to "https://www.mercari.com/jp/mypage/news/" do
          ニュース一覧
          = fa_icon "angle-right", class: "mypage__menu__angle"
    %h3.mypage__menu__header.bold
      メルペイ
    %ul.mypage__menu__links
      %li.mypage__menu__links__link
        = link_to "https://www.mercari.com/jp/mypage/sales/" do
          売上・振込申請
          = fa_icon "angle-right", class: "mypage__menu__angle"
      %li.mypage__menu__links__link
        = link_to "https://www.mercari.com/jp/mypage/point/" do
          ポイント
          = fa_icon "angle-right", class: "mypage__menu__angle"
    %h3.mypage__menu__header.bold
      設定
    %ul.mypage__menu__links
      %li.mypage__menu__links__link
        = link_to "https://www.mercari.com/jp/mypage/profile/" do
          プロフィール
          = fa_icon "angle-right", class: "mypage__menu__angle"
      %li.mypage__menu__links__link
        = link_to "https://www.mercari.com/jp/mypage/deliver_address/" do
          発送元・お届け先住所変更
          = fa_icon "angle-right", class: "mypage__menu__angle"
      %li.mypage__menu__links__link
        = link_to "https://www.mercari.com/jp/mypage/card/" do
          支払い方法
          = fa_icon "angle-right", class: "mypage__menu__angle"
      %li.mypage__menu__links__link
        = link_to "https://www.mercari.com/jp/mypage/email_password/" do
          メール/パスワード
          = fa_icon "angle-right", class: "mypage__menu__angle"
      %li.mypage__menu__links__link
        = link_to "https://www.mercari.com/jp/mypage/identification/" do
          本人情報
          = fa_icon "angle-right", class: "mypage__menu__angle"
      %li.mypage__menu__links__link
        = link_to "https://www.mercari.com/jp/mypage/sms_confirmation/" do
          電話番号の確認
          = fa_icon "angle-right", class: "mypage__menu__angle"
      %li.mypage__menu__links__link
        = link_to "https://www.mercari.com/jp/logout/" do
          ログアウト
          = fa_icon "angle-right", class: "mypage__menu__angle"