= render partial: 'exhibits/header'

.purchase
  %h2.purchase__header
    購入内容の確認
  .item-container
    .item-container__inner
      .item-container__inner__item
        .item-container__inner__item__image-box
          = image_tag "#{@merchandise.exhibit.exhibit_images[0].image}", class: 'item-container__inner__item__image-box__image'
        %p.item-container__inner__item__name
          = @merchandise.name
      = form_with url: merchandise_purchase_index_path, html: {class: "purchase-form"}, local: true do |f|
        .purchase-form__price
          = "¥#{@merchandise.price.to_s(:delimited)}"
          - if @merchandise.delivery.shipping_charge_id == 1
            %span
              送料込み
          - elsif @merchandise.delivery.shipping_charge_id == 2
            %span
              着払い
        .purchase-form__point
          ポイントはありません
        .purchase-form__payment
          .purchase-form__payment__text
            支払い金額
          .purchase-form__payment__price
            = "¥#{@merchandise.price.to_s(:delimited)}"
        = f.submit '購入する', class: 'purchase-form__button'
        .purchase-form__flash
          = flash[:alert]
  
  .delivery
    .delivery__inner
      %h3.delivery__inner__header
        配送先
      .delivery__inner__destination
        = "〒#{current_user.address.postal_code}"
        %br/
        = current_user.address.get_full_address
        %br/
        = current_user.get_full_name
      = link_to '#', class: 'delivery__inner__change' do
        %span
          変更する
        = fa_icon 'chevron-right', class: 'delivery__inner__change__icon'

  .payment
    .payment__inner
      %h3.payment__inner__header
        支払い方法
      .payment__inner__card-info
        = "**** **** **** " + @default_card_information.last4
        %br/
        = @default_card_information.exp_month.to_s + " / " + @default_card_information.exp_year.to_s.slice(2,3)
      
      - case @default_card_information.brand
      - when "Visa"
        = image_tag('visa.svg', class: 'payment__inner__card-logo')
      - when "MasterCard"
        = image_tag('master.svg', class: 'payment__inner__card-logo')
      - when "JCB"
        = image_tag('jcb.svg', class: 'payment__inner__card-logo')
      - when "American Express"
        = image_tag('american_express.svg', class: 'payment__inner__card-logo')
      - when "Diners Club"
        = image_tag('dinersclub.svg', class: 'payment__inner__card-logo')
      - when "Discover"
        = image_tag('discover.svg', class: 'payment__inner__card-logo')
      
      = link_to '#', class: 'payment__inner__change' do
        %span
          変更する
        = fa_icon 'chevron-right'


= render partial: 'exhibits/footer'