.sign_in_header
  .sign_in_header__wrapper
    %h1.merucari_logo
      = link_to "https://www.mercari.com/jp/" do
        = image_tag('logo.svg', class: 'header_logo')

.sign_in
  .sign_in__main
    .sign_in__main__section
      アカウントをお持ちでない方はこちら
      .sign_in__main__section__button
      = button_to "新規会員登録", { controller: "devise/registrations" ,action: "new" }, method: "get", class: "new-button"
      .sign_in__main__section__line

      .contents
        .contents__button
          .contents__button__first
          %i.facebok
          = fa_icon 'facebook-square', class: 'facebook-icon fa-2x'
          = button_to "Facebookでログイン", { action: "log_in" }, method: "get", class: "facebook-button"
      .contents
        .contents__button
          .contents__button__second
          %i.google
          = image_tag('google.jpg', class: 'google-icon')
          = button_to "Googleでログイン", { action: "log_in" }, method: "get", class: "google-button"

      = fields_for :user do |f|
        .contents
          .contents-field
            = f.email_field :email, autocomplete: "email", placeholder: "メールアドレス", class: "email-button"
          .contents-field
            = f.password_field :password, autocomplete: "new-password", placeholder: "パスワード", class: "password-button"
          .contents-field
            .g-recaptcha{"data-sitekey" => "6LcJNrkUAAAAAAAXmDB03OB9_cBUJDtlmkZRyvkl"}
          .contents-field
            .contents-field__button
              = f.submit "ログイン", class: "form__submit"
            .text-left
              %p.text__password
                = link_to "https://www.mercari.com/jp/password/reset/start/", target: :_blank , class:"link" do
                  パスワードをお忘れの方

= render partial: "signup/sign_up_footer"