%asside.app-download
  .wrapper
    .content 
      .left
        .upper
          スマホでかんたんフリマアプリ
        .middle
          今すぐ無料ダウンロード！
        .lower
          = image_tag("https://web-jp-assets.mercdn.net/_next/static/images/mercari_icon-f75780e32e41e052c8aaa8b446331cd8.png", class: "mercari_logo")           
          = link_to "https://itunes.apple.com/jp/app/id667861049?l=ja&mt=8", class: "app-store" do
            = image_tag("https://web-jp-assets.mercdn.net/_next/static/images/app-store-a5c17948c6fd6d5b60b13d421cd60b35.svg", class: "app-store_image") 
          = link_to "https://play.google.com/store/apps/details?id=com.kouzoh.mercari&hl=ja", class: "google-play" do
            = image_tag("https://web-jp-assets.mercdn.net/_next/static/images/google-play-495575abb895b405aa6336b2a4304958.svg", class: "google-play_image") 
      %figure.right 
        = image_tag("https://web-jp-assets.mercdn.net/_next/static/images/download_app_pc-a4418175e8be071827ac88d073f40e4a.png", class: "right_image") 
  .wrapper__responsive
    = link_to "http://app.adjust.io/xio2ii?campaign=iOS&adgroup=common.footer", class: "link" do
      = image_tag("https://web-jp-assets.mercdn.net/_next/static/images/mercari_icon-f75780e32e41e052c8aaa8b446331cd8.png", class: "mercari_logo") 
      .content
        スマホでかんたんフリマアプリ
        .lower
          今すぐ無料ダウンロード！