%header.header_responsive
  .wrapper
    .upper
      .upper_left
        = link_to root_path, class: "upper__logo" do
          =image_tag("https://web-jp-assets.mercdn.net/_next/static/images/logo-acdd90ac4f472d5a6f7a330d33ab1225.svg", class: "logo")

      - if user_signed_in?
        .upper_right_in
          .news
            = link_to "", class: "news_link" do
              %i.fa.fa-bell
          .to-do
            = link_to "", class: "to-do_link" do
              %i.fa.fa-check
          .mypage-img
            = link_to "", class: "mypage-img_link" do
              = image_tag("https://static.mercdn.net/thumb/members/158882622.jpg?1572265146", class: "mypage-img_link_img")

      - else
        .upper_right
          = link_to "新規会員", signup_index_path, class: "sign-up"
          = link_to "ログイン", new_user_session_path, class: "login"

    .middle
      = form_tag "", method: :get, class: "search__form" do
        = text_field_tag :keyword, "", class: "search__form_input", placeholder: "何をお探しですか？"
        = button_tag type: "submit",class: "search__form_button" do
          %i.fa.fa-search.search__form_button_img
    %nav.lower
      = link_to "" , class: "category-search__link" do
        %i.fa.fa-bars.category-search__link_img
        %span.category-search__link_text カテゴリーから探す
                
      = link_to "" , class: "brand-search__link" do
        %i.fa.fa-tag.brand-search__link_img
        %span.brand-search__link_text ブランドから探す

    = render "layouts/breadcrumbs", class: "breadcrumbs-list"